@font-face {
  font-family: "iconfont"; /* Project id 4501730 */
  src: url('iconfont.woff2?t=1745369292272') format('woff2'),
       url('iconfont.woff?t=1745369292272') format('woff'),
       url('iconfont.ttf?t=1745369292272') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi3:before {
  content: "\e680";
}

.icon-yinliang-F:before {
  content: "\e67a";
}

.icon-jingyin-F:before {
  content: "\e67e";
}

.icon-shu:before {
  content: "\e678";
}

.icon-yijianfankui:before {
  content: "\e685";
}

.icon-course_note_fill:before {
  content: "\e67b";
}

.icon-vip:before {
  content: "\e67c";
}

.icon-qizhi-F:before {
  content: "\e67d";
}

.icon-xianshifangshi:before {
  content: "\e645";
}

.icon-xianshifangshi1:before {
  content: "\e675";
}

.icon-jia3:before {
  content: "\e63e";
}

.icon-xiaoxi1:before {
  content: "\e63f";
}

.icon-shanshan:before {
  content: "\e673";
}

.icon-stimulate_fre:before {
  content: "\e7e6";
}

.icon-a-shanshanjianbian:before {
  content: "\e809";
}

.icon-cuowu:before {
  content: "\e640";
}

.icon-jia2:before {
  content: "\e641";
}

.icon-fenlei:before {
  content: "\e642";
}

.icon-icon:before {
  content: "\e652";
}

.icon-shouye2:before {
  content: "\e681";
}

.icon-right-1-copy:before {
  content: "\e649";
}

.icon-icon1:before {
  content: "\e6a0";
}

.icon-biaoqian:before {
  content: "\e64a";
}

.icon-duigouxiao:before {
  content: "\e8be";
}

.icon-paihang:before {
  content: "\e64b";
}

.icon-xiangzuofanye:before {
  content: "\e75b";
}

.icon-home:before {
  content: "\e64f";
}

.icon-guankanlishi:before {
  content: "\e651";
}

.icon-shezhi11:before {
  content: "\e654";
}

.icon-dian3:before {
  content: "\e7a5";
}

.icon-zhidingmian:before {
  content: "\e655";
}

.icon-zuozhe:before {
  content: "\e656";
}

.icon-mulu:before {
  content: "\e658";
}

.icon-zhizhangzhangdan:before {
  content: "\e6d8";
}

.icon-rili1:before {
  content: "\e6a6";
}

.icon-zuo:before {
  content: "\e794";
}

.icon-24gl-fullScreenEnter2:before {
  content: "\ea68";
}

.icon-list_list:before {
  content: "\e65c";
}

.icon-zhanghaoxinxi:before {
  content: "\e65d";
}

.icon-sousuo1:before {
  content: "\e65e";
}

.icon-xingxing:before {
  content: "\e65f";
}

.icon-shujia:before {
  content: "\e660";
}

.icon-dianzan1:before {
  content: "\e661";
}

.icon-jin:before {
  content: "\e664";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-shoucang7:before {
  content: "\e8b9";
}

.icon-aixin1:before {
  content: "\e8c3";
}

.icon-shoucang11:before {
  content: "\e8c6";
}

.icon-paihang1:before {
  content: "\e668";
}

.icon-xiaoxi:before {
  content: "\e669";
}

.icon-guanbi1:before {
  content: "\e66a";
}

.icon-gengduo:before {
  content: "\e66b";
}

.icon-zuo1:before {
  content: "\e66c";
}

.icon-kaishi1:before {
  content: "\e66d";
}

.icon-shezhi2:before {
  content: "\e66e";
}

.icon-yuedushezhi:before {
  content: "\e66f";
}

.icon-jianhao:before {
  content: "\e670";
}

.icon-pinglun_16:before {
  content: "\e7b8";
}

.icon-shuqian-F:before {
  content: "\e671";
}

.icon-yuedu-shezhi:before {
  content: "\e672";
}

.icon-pinglun3:before {
  content: "\e6ba";
}

.icon-mian:before {
  content: "\e6d3";
}

.icon-dian2:before {
  content: "\e69c";
}

.icon-huati:before {
  content: "\e65b";
}

.icon-bilibili-music:before {
  content: "\e63c";
}

.icon-bilibili:before {
  content: "\e63d";
}

.icon-close:before {
  content: "\e6bf";
}

.icon-jingshigantanhao2:before {
  content: "\e7f4";
}

.icon-shipinheji:before {
  content: "\e63a";
}

.icon-riqi:before {
  content: "\e650";
}

.icon-jiangpai:before {
  content: "\e639";
}

.icon-paihangbang:before {
  content: "\e756";
}

.icon-label:before {
  content: "\e632";
}

.icon-shezhi1:before {
  content: "\e631";
}

.icon-shixintaoxin:before {
  content: "\e63b";
}

.icon-bofangqi-bofangxiaodianshi:before {
  content: "\e6ab";
}

.icon-zhuye:before {
  content: "\e64e";
}

.icon-dianshiji:before {
  content: "\e622";
}

.icon-_dianshi:before {
  content: "\e62e";
}

.icon-xiaodianshi2:before {
  content: "\e62f";
}

.icon-lishixiao:before {
  content: "\e8bd";
}

.icon-dongtaiweixuanzhong:before {
  content: "\e662";
}

.icon-xinfengyoujian:before {
  content: "\e6eb";
}

.icon-ziyuanxhdpi:before {
  content: "\e629";
}

.icon-dongtai:before {
  content: "\e620";
}

.icon-xinfeng:before {
  content: "\e62a";
}

.icon-shoucang4:before {
  content: "\e644";
}

.icon-shoucang5:before {
  content: "\e62b";
}

.icon-fengche1:before {
  content: "\f077";
}

.icon-a-zujiantianchong_huaban1fuben10:before {
  content: "\e6db";
}

.icon-shoucang6:before {
  content: "\e62c";
}

.icon-fengche2:before {
  content: "\e674";
}

.icon-v4-fengche2:before {
  content: "\e6ca";
}

.icon-fengche3:before {
  content: "\e62d";
}

.icon-jinzhi:before {
  content: "\e69f";
}

.icon-row-full:before {
  content: "\e976";
}

.icon-bofangqi-zantingxiaodianshi:before {
  content: "\e6ac";
}

.icon-danmu:before {
  content: "\e61f";
}

.icon-full:before {
  content: "\e7bc";
}

.icon-exit-widescreen:before {
  content: "\e65a";
}

.icon-top-s:before {
  content: "\e628";
}

.icon-fuchuang-kuanping:before {
  content: "\e61a";
}

.icon-fullscreen-expand-filling:before {
  content: "\e68a";
}

.icon-huazhonghua:before {
  content: "\e61b";
}

.icon-zitishezhi:before {
  content: "\e64d";
}

.icon-at:before {
  content: "\e626";
}

.icon-duohangwenzi:before {
  content: "\e657";
}

.icon-duihao2:before {
  content: "\e69e";
}

.icon-jia:before {
  content: "\e643";
}

.icon-jia1:before {
  content: "\e659";
}

.icon-duihao:before {
  content: "\e616";
}

.icon-icon_shipin_yingbishu:before {
  content: "\e617";
}

.icon-diandian:before {
  content: "\e653";
}

.icon-dian:before {
  content: "\ec1e";
}

.icon-dian1:before {
  content: "\e623";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-zhiding:before {
  content: "\e6b6";
}

.icon-weibiaoti--:before {
  content: "\e614";
}

.icon-reset:before {
  content: "\e615";
}

.icon-UPzhu1:before {
  content: "\e613";
}

.icon-zanting2:before {
  content: "\e663";
}

.icon-shanchu:before {
  content: "\e61d";
}

.icon-guanbi:before {
  content: "\e7b7";
}

.icon-xianshikejian:before {
  content: "\e8d4";
}

.icon-yincangbukejian:before {
  content: "\e8d5";
}

.icon-sixin:before {
  content: "\e6b9";
}

.icon-danmushezhi:before {
  content: "\e60d";
}

.icon-guanbidanmu:before {
  content: "\e612";
}

.icon-a-44tubiao-233:before {
  content: "\e6a4";
}

.icon-danmushezhi1:before {
  content: "\e77f";
}

.icon-shezhi:before {
  content: "\e638";
}

.icon-huodongxiangqu:before {
  content: "\e88d";
}

.icon-danmushu:before {
  content: "\e666";
}

.icon-watch-loop:before {
  content: "\e646";
}

.icon-zhuanlan:before {
  content: "\e605";
}

.icon-pinglun:before {
  content: "\e648";
}

.icon-yunzhibo:before {
  content: "\e634";
}

.icon-aite:before {
  content: "\e606";
}

.icon-bzhan:before {
  content: "\e61e";
}

.icon-shangchuan1:before {
  content: "\e635";
}

.icon-tupian1:before {
  content: "\e8ba";
}

.icon-pinglun1:before {
  content: "\e6b3";
}

.icon-xiazai:before {
  content: "\e610";
}

.icon-pinglun2:before {
  content: "\e6f5";
}

.icon-shoucangjia:before {
  content: "\e60c";
}

.icon-Bzhan:before {
  content: "\e6f1";
}

.icon-wf_Bzhan:before {
  content: "\e677";
}

.icon-a-ico-Bzhan:before {
  content: "\e720";
}

.icon-heiseBzhandaohangtubiao-lunkuohuamiaobian-02:before {
  content: "\e607";
}

.icon-heiseBzhandaohangtubiao-lunkuohuamiaobian-03:before {
  content: "\e608";
}

.icon-heiseBzhandaohangtubiao-lunkuohuamiaobian-04:before {
  content: "\e60a";
}

.icon-heiseBzhandaohangtubiao-lunkuohuamiaobian-07:before {
  content: "\e60b";
}

.icon-fenxiang:before {
  content: "\e633";
}

.icon-shoucang3:before {
  content: "\e627";
}

.icon-7biaoqing-1:before {
  content: "\e667";
}

.icon-icon-test:before {
  content: "\e6e0";
}

.icon-shoucang2:before {
  content: "\e630";
}

.icon-fengche:before {
  content: "\e625";
}

.icon-shang:before {
  content: "\e637";
}

.icon-xia:before {
  content: "\e624";
}

.icon-daishenhe:before {
  content: "\e64c";
}

.icon-emoji_add_outlined:before {
  content: "\e7fe";
}

.icon-icon_play:before {
  content: "\e60f";
}

.icon-tupian:before {
  content: "\e67f";
}

.icon-gengxin:before {
  content: "\e611";
}

.icon-shouye:before {
  content: "\e621";
}

.icon-shoucang1:before {
  content: "\e679";
}

.icon-xinjian-1:before {
  content: "\e619";
}

.icon-xiangzuo:before {
  content: "\e600";
}

.icon-xiangyou:before {
  content: "\e601";
}

.icon-31shezhi:before {
  content: "\e602";
}

.icon-duanxin:before {
  content: "\e647";
}

.icon-icon03:before {
  content: "\e603";
}

.icon-sousuo:before {
  content: "\e6a8";
}

.icon-shangchuan:before {
  content: "\e618";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-UPzhu:before {
  content: "\e665";
}

.icon-quanping:before {
  content: "\eb11";
}

.icon-24gf-volumeCross:before {
  content: "\ea0f";
}

.icon-24gf-volumeHigh:before {
  content: "\ea11";
}

.icon-24gf-pause2:before {
  content: "\ea81";
}

.icon-dianzan:before {
  content: "\e61c";
}

.icon-rili:before {
  content: "\e8b4";
}

.icon-xiaodianshi:before {
  content: "\e6b8";
}

.icon-shoucang:before {
  content: "\e60e";
}

.icon-huo:before {
  content: "\e6c0";
}

.icon-tougao:before {
  content: "\e636";
}

.icon-xiaodianshi1:before {
  content: "\e604";
}

.icon-xiayiji:before {
  content: "\e609";
}

.icon-tuichudenglu:before {
  content: "\e676";
}

.icon-xiayiji-copy:before {
  content: "\f078";
}

